.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.triage {

}
.triage .ui.card {
  background: #d9534f;
}

.triage .ui.card>.content>.header {
  font-size: 2em;
  color: #eceeef;
}

.triage .ui.card>.content>.description {
  font-size: 1.25em;
  color: #eceeef;
}

.results {

}

.results .ui.card>.content>.header {
  font-size: 2em;
}

.results .ui.list .list>.item .header {
  font-size: 2em;
}

.results .ui.card .meta {
  font-size: 1.25em;
  padding-top: 10px;
}

.results .ui.list .list>.item>.content, .ui.list>.item>.content {
  line-height: 2em;
}

.results .ui.celled.list>.item .header {
  font-size:1.5em;
}

.results .ui.celled.list>.item:first-child {
  /*background-color: rgba(0,0,0,.2);*/
  border-top: 2px solid #d9534f;
  border-bottom: 2px solid #d9534f;
}

.results .ui.celled.list>.item:first-child .header {
  color: #d9534f;
  font-size:1.75em;
}

.results .ui.celled.list>.item:first-child .description {
  color: #d9534f;
  font-size: 1.25em;
}

.hospital {
  display: flex;
  flex-direction: row;
}